<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ivangladko.SearchPhotoApp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SerpapiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Movie">
        <activity android:name=".ui.images.MainActivityViewModel" />
        <activity android:name=".ui.images.DetailImageViewModel" />

        <activity android:name=".ui.images.WebViewActivityViewModel" />
        <activity android:name=".ui.fragment.FragmentImage" />
        <activity
            android:name=".StartActivityView"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>